.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.941895;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.754395;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.941895;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.679688;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.875000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.237500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.237500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.237500,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.240000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.240000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.240000,0.000000,0.000000,0.250000,0,0);}
.m3{transform:matrix(0.242499,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.242499,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.242499,0.000000,0.000000,0.250000,0,0);}
.m4{transform:matrix(0.242500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.242500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.242500,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls3{letter-spacing:-2.977616px;}
.ls8{letter-spacing:-2.226346px;}
.ls2{letter-spacing:-1.407680px;}
.ls6{letter-spacing:-1.374288px;}
.ls0{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.824572px;}
.ls5{letter-spacing:0.927644px;}
.ls7{letter-spacing:3.621660px;}
.ls1{letter-spacing:14.888080px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws6{word-spacing:-3.621660px;}
.ws4{word-spacing:-0.927644px;}
.ws3{word-spacing:-0.824572px;}
.ws0{word-spacing:0.000000px;}
.ws5{word-spacing:1.374288px;}
.ws1{word-spacing:1.407680px;}
.ws7{word-spacing:2.226346px;}
.ws2{word-spacing:2.977616px;}
._6{margin-left:-897.517911px;}
._5{margin-left:-857.187879px;}
._3{margin-left:-763.347150px;}
._2{margin-left:-733.401280px;}
._4{margin-left:-666.095319px;}
._1{margin-left:-13.697034px;}
._8{margin-left:-2.977616px;}
._0{margin-left:-1.637689px;}
._9{width:1.566687px;}
._a{width:3.621660px;}
._7{width:31.828479px;}
._c{width:368.194651px;}
._b{width:391.809504px;}
.fc4{color:rgb(245,245,245);}
.fc0{color:rgb(34,37,45);}
.fc1{color:rgb(8,15,24);}
.fc2{color:rgb(0,1,1);}
.fc3{color:rgb(255,255,255);}
.fs7{font-size:62.988000px;}
.fs6{font-size:68.714400px;}
.fs2{font-size:70.384000px;}
.fsc{font-size:80.166800px;}
.fs3{font-size:82.457200px;}
.fsb{font-size:86.386800px;}
.fs4{font-size:92.764400px;}
.fs8{font-size:103.071200px;}
.fs9{font-size:113.428400px;}
.fsa{font-size:120.722000px;}
.fs1{font-size:128.543600px;}
.fs5{font-size:137.428400px;}
.fs0{font-size:148.880800px;}
.y0{bottom:0.000000px;}
.y1b{bottom:171.347700px;}
.y30{bottom:322.216800px;}
.y1a{bottom:406.220700px;}
.y19{bottom:462.143600px;}
.y18{bottom:623.963000px;}
.y15{bottom:642.859400px;}
.y14{bottom:661.755900px;}
.y17{bottom:923.539137px;}
.y16{bottom:952.172400px;}
.y13{bottom:1022.263200px;}
.y23{bottom:1152.311600px;}
.y22{bottom:1171.208000px;}
.y21{bottom:1190.104500px;}
.y7{bottom:1383.309000px;}
.y6{bottom:1414.230450px;}
.y5{bottom:1445.151900px;}
.y8{bottom:1501.749500px;}
.y26{bottom:1637.992700px;}
.y1f{bottom:1732.282630px;}
.y1e{bottom:1755.194515px;}
.y1d{bottom:1778.106400px;}
.y1c{bottom:1801.011200px;}
.y20{bottom:1938.505342px;}
.y24{bottom:2005.790000px;}
.y11{bottom:2135.832850px;}
.y10{bottom:2166.754300px;}
.yf{bottom:2197.675750px;}
.yd{bottom:2228.596900px;}
.ye{bottom:2228.597200px;}
.yc{bottom:2259.518350px;}
.yb{bottom:2321.361250px;}
.ya{bottom:2352.282700px;}
.y9{bottom:2383.204100px;}
.y12{bottom:2432.979500px;}
.y2e{bottom:2528.178700px;}
.y2c{bottom:2559.099800px;}
.y2d{bottom:2559.100100px;}
.y2b{bottom:2620.942700px;}
.y2a{bottom:2651.864150px;}
.y28{bottom:2682.785550px;}
.y29{bottom:2682.785600px;}
.y27{bottom:2713.707000px;}
.y2f{bottom:2759.072800px;}
.y25{bottom:2893.374500px;}
.y1{bottom:2971.596700px;}
.y2{bottom:3023.281700px;}
.y3{bottom:3119.426300px;}
.y4{bottom:3120.520000px;}
.hd{height:43.058203px;}
.ha{height:45.733963px;}
.h9{height:49.891754px;}
.h5{height:51.104008px;}
.h10{height:54.801523px;}
.h6{height:59.870047px;}
.h7{height:60.715555px;}
.hf{height:62.723228px;}
.h8{height:63.413164px;}
.hb{height:74.837341px;}
.hc{height:77.538945px;}
.he{height:83.880569px;}
.h4{height:94.650268px;}
.h3{height:101.192419px;}
.h2{height:108.098511px;}
.h1{height:3187.000000px;}
.h0{height:3187.170000px;}
.w0{width:1200.000000px;}
.x0{left:0.000000px;}
.x3{left:113.881800px;}
.x17{left:115.272500px;}
.x21{left:130.952100px;}
.x16{left:134.413600px;}
.x6{left:145.075891px;}
.x5{left:164.551800px;}
.x12{left:205.726962px;}
.xe{left:212.434102px;}
.x9{left:220.721700px;}
.x35{left:224.303419px;}
.xd{left:233.189742px;}
.x40{left:239.522500px;}
.x34{left:243.562000px;}
.x2b{left:246.400400px;}
.xb{left:248.829600px;}
.x38{left:254.935500px;}
.x33{left:263.710900px;}
.x2c{left:269.170562px;}
.x3b{left:270.615826px;}
.x2a{left:290.528800px;}
.x1{left:317.641600px;}
.x39{left:321.961422px;}
.x22{left:336.821300px;}
.x2{left:369.602500px;}
.x14{left:392.704600px;}
.x1c{left:410.623000px;}
.x1b{left:444.832500px;}
.x37{left:456.280300px;}
.x31{left:495.292500px;}
.x7{left:505.560173px;}
.x28{left:506.790000px;}
.x32{left:515.968311px;}
.x20{left:518.140600px;}
.xc{left:533.186729px;}
.x11{left:540.376671px;}
.x3c{left:546.177946px;}
.x29{left:555.495471px;}
.xf{left:557.852100px;}
.x27{left:568.539600px;}
.x1e{left:584.305200px;}
.x36{left:599.615200px;}
.x2d{left:618.171323px;}
.x8{left:632.774400px;}
.x3a{left:638.592800px;}
.x3f{left:643.203100px;}
.x3e{left:644.905300px;}
.x1f{left:646.206657px;}
.x1d{left:652.517600px;}
.x10{left:657.832000px;}
.x15{left:666.034200px;}
.x3d{left:668.805700px;}
.x13{left:674.368527px;}
.xa{left:685.835000px;}
.x2f{left:779.048800px;}
.x30{left:801.204829px;}
.x26{left:802.494152px;}
.x25{left:804.698732px;}
.x24{left:814.839800px;}
.x2e{left:823.988300px;}
.x19{left:839.824200px;}
.x23{left:847.033200px;}
.x1a{left:858.106467px;}
.x18{left:875.127000px;}
.x4{left:1069.981400px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls3{letter-spacing:-3.970155pt;}
.ls8{letter-spacing:-2.968461pt;}
.ls2{letter-spacing:-1.876907pt;}
.ls6{letter-spacing:-1.832384pt;}
.ls0{letter-spacing:0.000000pt;}
.ls4{letter-spacing:1.099429pt;}
.ls5{letter-spacing:1.236859pt;}
.ls7{letter-spacing:4.828880pt;}
.ls1{letter-spacing:19.850773pt;}
.ws6{word-spacing:-4.828880pt;}
.ws4{word-spacing:-1.236859pt;}
.ws3{word-spacing:-1.099429pt;}
.ws0{word-spacing:0.000000pt;}
.ws5{word-spacing:1.832384pt;}
.ws1{word-spacing:1.876907pt;}
.ws7{word-spacing:2.968461pt;}
.ws2{word-spacing:3.970155pt;}
._6{margin-left:-1196.690548pt;}
._5{margin-left:-1142.917172pt;}
._3{margin-left:-1017.796201pt;}
._2{margin-left:-977.868373pt;}
._4{margin-left:-888.127092pt;}
._1{margin-left:-18.262711pt;}
._8{margin-left:-3.970155pt;}
._0{margin-left:-2.183585pt;}
._9{width:2.088916pt;}
._a{width:4.828880pt;}
._7{width:42.437972pt;}
._c{width:490.926202pt;}
._b{width:522.412673pt;}
.fs7{font-size:83.984000pt;}
.fs6{font-size:91.619200pt;}
.fs2{font-size:93.845333pt;}
.fsc{font-size:106.889067pt;}
.fs3{font-size:109.942933pt;}
.fsb{font-size:115.182400pt;}
.fs4{font-size:123.685867pt;}
.fs8{font-size:137.428267pt;}
.fs9{font-size:151.237867pt;}
.fsa{font-size:160.962667pt;}
.fs1{font-size:171.391467pt;}
.fs5{font-size:183.237867pt;}
.fs0{font-size:198.507733pt;}
.y0{bottom:0.000000pt;}
.y1b{bottom:228.463600pt;}
.y30{bottom:429.622400pt;}
.y1a{bottom:541.627600pt;}
.y19{bottom:616.191467pt;}
.y18{bottom:831.950667pt;}
.y15{bottom:857.145867pt;}
.y14{bottom:882.341200pt;}
.y17{bottom:1231.385516pt;}
.y16{bottom:1269.563200pt;}
.y13{bottom:1363.017600pt;}
.y23{bottom:1536.415467pt;}
.y22{bottom:1561.610667pt;}
.y21{bottom:1586.806000pt;}
.y7{bottom:1844.412000pt;}
.y6{bottom:1885.640600pt;}
.y5{bottom:1926.869200pt;}
.y8{bottom:2002.332667pt;}
.y26{bottom:2183.990267pt;}
.y1f{bottom:2309.710173pt;}
.y1e{bottom:2340.259353pt;}
.y1d{bottom:2370.808533pt;}
.y1c{bottom:2401.348267pt;}
.y20{bottom:2584.673789pt;}
.y24{bottom:2674.386667pt;}
.y11{bottom:2847.777133pt;}
.y10{bottom:2889.005733pt;}
.yf{bottom:2930.234333pt;}
.yd{bottom:2971.462533pt;}
.ye{bottom:2971.462933pt;}
.yc{bottom:3012.691133pt;}
.yb{bottom:3095.148333pt;}
.ya{bottom:3136.376933pt;}
.y9{bottom:3177.605467pt;}
.y12{bottom:3243.972667pt;}
.y2e{bottom:3370.904933pt;}
.y2c{bottom:3412.133067pt;}
.y2d{bottom:3412.133467pt;}
.y2b{bottom:3494.590267pt;}
.y2a{bottom:3535.818867pt;}
.y28{bottom:3577.047400pt;}
.y29{bottom:3577.047467pt;}
.y27{bottom:3618.276000pt;}
.y2f{bottom:3678.763733pt;}
.y25{bottom:3857.832667pt;}
.y1{bottom:3962.128933pt;}
.y2{bottom:4031.042267pt;}
.y3{bottom:4159.235067pt;}
.y4{bottom:4160.693333pt;}
.hd{height:57.410937pt;}
.ha{height:60.978617pt;}
.h9{height:66.522339pt;}
.h5{height:68.138677pt;}
.h10{height:73.068698pt;}
.h6{height:79.826729pt;}
.h7{height:80.954074pt;}
.hf{height:83.630971pt;}
.h8{height:84.550885pt;}
.hb{height:99.783121pt;}
.hc{height:103.385260pt;}
.he{height:111.840759pt;}
.h4{height:126.200357pt;}
.h3{height:134.923225pt;}
.h2{height:144.131347pt;}
.h1{height:4249.333333pt;}
.h0{height:4249.560000pt;}
.w0{width:1600.000000pt;}
.x0{left:0.000000pt;}
.x3{left:151.842400pt;}
.x17{left:153.696667pt;}
.x21{left:174.602800pt;}
.x16{left:179.218133pt;}
.x6{left:193.434521pt;}
.x5{left:219.402400pt;}
.x12{left:274.302616pt;}
.xe{left:283.245469pt;}
.x9{left:294.295600pt;}
.x35{left:299.071225pt;}
.xd{left:310.919656pt;}
.x40{left:319.363333pt;}
.x34{left:324.749333pt;}
.x2b{left:328.533867pt;}
.xb{left:331.772800pt;}
.x38{left:339.914000pt;}
.x33{left:351.614533pt;}
.x2c{left:358.894083pt;}
.x3b{left:360.821102pt;}
.x2a{left:387.371733pt;}
.x1{left:423.522133pt;}
.x39{left:429.281895pt;}
.x22{left:449.095067pt;}
.x2{left:492.803333pt;}
.x14{left:523.606133pt;}
.x1c{left:547.497333pt;}
.x1b{left:593.110000pt;}
.x37{left:608.373733pt;}
.x31{left:660.390000pt;}
.x7{left:674.080231pt;}
.x28{left:675.720000pt;}
.x32{left:687.957748pt;}
.x20{left:690.854133pt;}
.xc{left:710.915639pt;}
.x11{left:720.502228pt;}
.x3c{left:728.237261pt;}
.x29{left:740.660628pt;}
.xf{left:743.802800pt;}
.x27{left:758.052800pt;}
.x1e{left:779.073600pt;}
.x36{left:799.486933pt;}
.x2d{left:824.228431pt;}
.x8{left:843.699200pt;}
.x3a{left:851.457067pt;}
.x3f{left:857.604133pt;}
.x3e{left:859.873733pt;}
.x1f{left:861.608876pt;}
.x1d{left:870.023467pt;}
.x10{left:877.109333pt;}
.x15{left:888.045600pt;}
.x3d{left:891.740933pt;}
.x13{left:899.158035pt;}
.xa{left:914.446667pt;}
.x2f{left:1038.731733pt;}
.x30{left:1068.273105pt;}
.x26{left:1069.992203pt;}
.x25{left:1072.931643pt;}
.x24{left:1086.453067pt;}
.x2e{left:1098.651067pt;}
.x19{left:1119.765600pt;}
.x23{left:1129.377600pt;}
.x1a{left:1144.141956pt;}
.x18{left:1166.836000pt;}
.x4{left:1426.641867pt;}
}
